/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial*/
[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	text-decoration: none;
}

html, body {
	width: 100%;
}
header, footer {
	max-width: 50em;
	box-shadow: inset 0 -0.5px grey;
	padding-bottom: 2em;
	text-align: center;
}

ul.social {
	list-style: none;
	margin: 0;
	padding: 0;
	
}

li.social {
	display: inline;
	padding: 10px;
}

a.social {
	display: inline;
	text-decoration: inherit;
	color: inherit;
}


article {
	max-width: 50em; 	
}

article:last-of-type {
	max-width: 50em;
	box-shadow: inset 0 -0.5px grey;
	padding-bottom: 2em;
}

h1, h2 {
	text-align: center;
}

img {
	max-width: 100%;

}
